/* HEIGHT SIZE */
html, body {
  height:100%;
  margin:0
}

header, footer, main {
  height:auto
}

#mylog {
  height:80%
}

.myImg {
  width:100%
}

/* NAV */
nav {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:2%;
}

nav>div {
  width:50%
}

nav>div:first-child {
  text-align:left;
  padding-left:1%
}

nav>div:last-child {
  text-align:right;
  padding-right:1%
}

nav>div>a>img {
  width:75px;
  max-width:75px;
}


/* MAIN */
main {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  padding:0 2%;
}
main>section{
  width:100%
}

#myblock>section:first-child {
  width:100%;
}

#myblock>section:first-child h1,
#myblock>section:last-child h2  {
  text-align: center;
  padding:0 2%
}

#myblock>section:last-child {
  overflow:auto;
}

#myblock>section:last-child>div{
  display:flex;
  flex-direction:row;
  width:96%;
  margin:0 2%;
  align-items:center;
  justify-content:space-around;
}

#myblock>section:last-child>div img {
  width:25%;
  height:40%
}

#myblock>section:last-child>div div {
  width:60%;
  text-align:justify;
  padding:0 2%
}

#myblock>section:last-child>div>a {
  width:20%;
  color:#000;
}

#myblock>section:last-child>div>a>button {
  width:100%;
  color:#000;
}

#myblock>section:last-child>a>button {
  color:#000
}

/* FORMULAIRE */
.mybtn2 {
  background-color:RED;
  padding:12px 20px;
  margin:8px 0;
  border:1px solid #ccc;
  box-sizing:border-box;
}

.myRED {color:RED;}

form {
  width:80%;
  zoom:1.3;
  display:flex;
  flex-direction:column;
  text-align:center;
}

form .material-icons {
  font-size:8em
}

form>input {
  font-size:1.5em
}

form>a {
  text-decoration: none;
  text-align:right
}

.mybtn {
  text-align:right;
}

.mybtn, .creatButton,
button[type=submit],
input[type=text],
input[type=password],
input[type=email] {
  padding:12px 20px;
  margin:8px 0;
  display:inline-block;
  border:1px solid #ccc;
  box-sizing:border-box;
}

button[type=submit], form>div>button:first-child {
  background-color:#4CAF50;
}

.mybtn, .mybtn2, .creatButton {
  text-decoration: none;
}

.creatButton, .mybtn2 {
  background-color:RED;
}

.mybtn2:visited {
  color:#FFF
}

.mybtn, .creatButton, form button a, button {
  color:#000;
}

.mybtn, button {
  background-color:#FFF;
  padding:14px 20px;
  margin:8px 0;
  border:none;
  cursor:pointer;
}

.mybtn2:hover, button:hover {
  opacity:0.8;
}

form>div {
  text-align:center;
}

.close {
  color:#000;
  font-size:35px;
  font-weight:bold;
}

.close:hover,
.close:focus {
  color:RED;
  cursor:pointer;
}

.error {
  animation:shake;
  animation-duration:1s;
  animation-delay:0s
}

.errorsChamps {
  color:RED;
}

#myinfo {
  display:flex;
  flex-direction:column;
  align-items:center;
}

#myinfo img{
  width: 60%
}

#myinfo>div{
  margin: 0 5%
}

#myinfo2 {
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:center;
}

#mycom {
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
}

/* FOOTER */
footer {
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  text-align:center;
}

footer>div>address {
  padding:0 0 1% 0
}

/* MEDIA QUERY 1024PX */
@media(max-width:1024px) {
  #myblock>section:last-child>div{
    flex-wrap:wrap;
  }
  #myblock>section:last-child>div>div {
  }

  form {
    width:90%;
    zoom:1.1;
  }

  form .material-icons {
    font-size:5em
  }

  form>input {
    font-size:1.3em
  }

}


/* MEDIA QUERY 640PX */
@media(max-width:640px) {
  form {
    width:96%;
    zoom:1;
  }

  form .material-icons {
    font-size:2.5em
  }

  form>input {
    font-size:1em
  }

  header {
    height:auto;
  }

  nav {
    display:flex;
    flex-direction:column;
    justify-content:center;
  }

  nav>div {
    width:100%
  }

  nav>div:first-child {
    text-align:left;
    padding-left:0
  }

  nav>div:last-child {
    text-align:center;
    padding-right:0
  }

  nav>div>img {
    width:75px;
    max-width:75px;
  }

  #myblock>section:last-child>div>a,
  #myblock>section:last-child>div>div,
  #myblock>section:last-child>div img {
    width:90%;
  }

  #myblock>section:last-child>div{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:96%;
    margin:0 2%;
    align-items:center;
    justify-content:space-around;
  }

  .myLike {
    text-align: center;
  }
}
